{% extends "_blogindex.html" %}

{%hyde
    title: ""
    created: 2011-05-24 00:00:05
    listing: True
%}

{% block content_body %}

<div id="content-left" class="sg-5">
</div> <!-- content-left -->
<div id="content-mid" class="sg-24 borderLeft borderRight">
  <h2>Recent Posts</h2>

	{%recent_posts recents 5 %}

	<ul>
		{%for post in recents %}
      <h3><a href='{{post.url}}'>{{post.title}}</a></h3>
      <p>{% render_excerpt post %}</p>
		{%endfor%}
	</ul>
</div> <!-- content-mid -->
<div id="content-right" class="sg-5">
</div> <!-- content-right -->

{%endblock%}
