{% extends "_post.html" %}

{%load webdesign %}

{%hyde
  title: Google Music Terms of Service and Privacy Policy
  created: 2011-06-03 18:45:00
%}

{% block article %}
{% article %}
{% excerpt %}

[Google Music Terms of Service acceptance](http://music.google.com/music/initialsignin?u=0)
[Additional Terms of Service for Music Beta by Google](http://music.google.com/about/terms.html)
[Third Party Software](http://music.google.com/about/thirdparty.html) (OpenSource) used by Google Music
[Google Music Privacy Policy](http://music.google.com/about/privacy.html)
[Google Standard ToS](http://www.google.com/accounts/TOS)

[OpenEXR](http://www.openexr.com/index.html) from ILM
[playing music icon](http://music.google.com/music/now_playing_selected.gif)



<a class="out" href="http://news.ycombinator.com">HackerNews</a> has an article today about <a class="out" href="http://www.pixelqi.com/">Pixel Qi</a>. Pixel Qi is the company that <a class="olpc" href="http://one.laptop.org">One Laptop per Child</a> alum Mary Lou Jepsen founded to market the <span color="#005fe4">X</span><span color="#ac32ff">O</span>s wonderful high contrast screen. 
{%endexcerpt%}

Mike Cane writes that Pixel Qi has <a class="out" href="mikecanex.wordpress.com/2011/05/31/pixel-qi-bombshell-three-million-screens-shipped/">shipped over 3 million screens</a>!! And goes on to express considerably surprise that there are so many units in the field.  Well, what Mike doesn't realize is that Pixel Qi is very likely counting the 2.4 million XOs that <a class="olpc" href="http://one.laptop.org">OLPC</a> has produced. That brings Pixel Qi sales outside of the OLPC realm to only ~600k&plusmn;100k. Not great, but not bad.

I still have nothing but the utmost respect for Mary Lou Jepsen, and honestly believe her screen technology is going to change the way we use computers, and by extension the way the way work happens in the industrialized world.

{%endarticle%}

{% endblock %}
